.center-between {
	@extend .d-flex, .align-items-center, .justify-content-between;
}

.center-center {
	@extend .d-flex, .align-items-center, .justify-content-center;
}

.bg-default {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.no-padding {

	@media(min-width: 992px) {
		padding-left: 0;
		padding-right: 0;
	}
}

.list-info {
	@extend .list-unstyled, .d-flex, .flex-column, .flex-sm-row;
	
	margin-bottom: 0;

	li {
		margin-right: 15px;
		margin-bottom: 20px;

		@media(min-width: 576px) {
			margin-bottom: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		.info-footer {

			color: #fff;
			font-size: 18px;

			@media(min-width: 576px) {
				font-size: 20px;
			}

			img {
				width: 28px;
				margin-right: 10px;

				@media(min-width: 576px) {
					margin-right: 15px;
				}
			}
		}
	}
}

.btn-default {
	
}

.title-section {

}

.text-area {

	p, a, small {
	}

	a, p, li, strong, b {
		font-size: 14px;

		@media(min-width: 768px) {
			font-size: 16px;
		}

		@media(min-width: 992px) {
			font-size: 18px;
		}

		@media(min-width: 1200px) {
			font-size: 20px;
		}
	}

	a {
		color: inherit;
		&:hover {
		}
	}

	strong, b {
	}

	small {
		font-size: 10px;

		@media(min-width: 768px) {
			font-size: 12px;
		}

		@media(min-width: 992px) {
			font-size: 14px;
		}

		@media(min-width: 1200px) {
			font-size: 16px;
		}

	}

	ul {
		@extend .list-unstyled;

		li {
			@extend .d-flex, .align-items-center;

			margin-bottom: 5px;

			&:before {
				content: "";
				width: 8px;
				min-width: 8px;
				max-width: 8px;
				height: 8px;
				min-height: 8px;
				max-height: 8px;
				border-radius: 50%;
				margin-right: 10px;
			}
		}
	}

	h1, h2, h3, h4, h5 {
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 26px;
	}

	h5 {
		font-size: 22px;
	}
}

.page-inner {
}

.form-default {

	.form-group {
		margin-bottom: 30px;

		.form-label {

			font-size: 20px;
		}

		.form-control {

			border-radius: 0;
			height: 40px;	

			&::placeholder {

				font-size: 18px;
			}
		}

		textarea.form-control {
			resize: none;
			height: 250px;
		}
	}
}

.owl-carousel {

	.owl-nav {
		.owl-prev,
		.owl-next {

		}

		.owl-prev {

		}

		.owl-next {

		}
	}
	
	.owl-dots {
		margin-top: 50px;
		text-align: center;

		.owl-dot {
			border-radius: 50%;
			width: 15px;
			min-width: 15px;
			max-width: 15px;
			height: 15px;
			min-height: 15px;
			max-height: 15px;
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			&.active {
			}
		}
	}
}

.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb30 {margin-bottom: 30px;}
.mb40 {margin-bottom: 40px;}
.mb50 {margin-bottom: 50px;}
.mb60 {margin-bottom: 60px;}
.mb70 {margin-bottom: 70px;}
.mb80 {margin-bottom: 80px;}
.mb90 {margin-bottom: 90px;}
.mb100 {margin-bottom: 100px;}

.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.mt50 {margin-top: 50px;}
.mt60 {margin-top: 60px;}
.mt70 {margin-top: 70px;}
.mt80 {margin-top: 80px;}
.mt90 {margin-top: 90px;}
.mt100 {margin-top: 100px;}